:root{
  --normal:#a8a878;
  --normalL:rgb(168, 168, 120, 0.3);

  --fighting:#c03028;
  --fightingL:rgb(192, 48, 40, 0.3);

  --flying:#a890f0;
  --flyingL:rgb(168, 144, 240, 0.3);

  --poison:#a040a0;
  --poisonL:rgb(160, 64, 160, 0.3);

  --ground:#e0c068;
  --groundL:rgb(224, 192, 104, 0.3);

  --rock:#b8a038;
  --rockL:rgb(184, 160, 56, 0.3);

  --bug:#a8b820;
  --bugL:rgb(168, 184, 32, 0.3);

  --ghost:#705898;
  --ghostL:rgb(112, 88, 152, 0.3);

  --steel:#b8b8d0;
  --steelL:rgb(184, 184, 208, 0.3);

  --fire:#f08030;
  --fireL:rgb(240, 128, 48, 0.3);
  

  --water:#6890f0;
  --waterL:rgb(104, 144, 240, 0.3);

  --grass:#78c850;
  --grassL:rgb(120, 200, 80, 0.3);

  --electric:#f8d030;
  --electricL: rgb(248, 208, 48,0.3);

  --psychic:#f85888;
  --psychicL:rgb(248, 88, 136, 0.3);

  --ice:#98d8d8;
  --iceL:rgb(152, 216, 216, 0.3);

  --dragon:#7038f8;
  --dragonL:rgb(112, 56, 248, 0.3);

  --dark:#705848;
  --darkL:rgb(112, 88, 72, 0.3);
}

.normal{
  background-color: var(--normal);
}

.normalL{
  background-color: var(--normalL);
  border-color: var(--normalL);
}

.fighting{
  background-color: var(--fighting);
}

.fightingL{
  background-color: var(--fightingL);
  border-color: var(--fightingL);
}

.flying{
  background-color: var(--flying);
}

.flyingL{
  border-color: var(--flyingL);
}

.poison{
  background-color: var(--poison);
}

.poisonL{
  background-color: var(--poisonL);
  border-color: var(--poisonL);
}

.ground{
  background-color: var(--ground);
}

.groundL{
  background-color: var(--groundL);
  border-color: var(--groundL);
}

.rock{
  background-color: var(--rock);
}

.rockL{
  background-color: var(--rockL);
  border-color: var(--rockL);
}

.bug{
  background-color: var(--bug);
}

.bugL{
  background-color: var(--bugL);
  border-color: var(--bugL);
}

.ghost{
  background-color: var(--ghost);
}

.ghostL{
  background-color: var(--ghostL);
  border-color: var(--ghostL);
}

.steel{
  background-color: var(--steel);
}

.steelL{
  background-color: var(--steelL);
  border-color: var(--steelL);
}

.fire{
  background-color: var(--fire);
}

.fireL{
  background-color: var(--fireL);
  border-color:var(--fireL);
}

.water{
  background-color: var(--water);
}

.waterL{
  background-color: var(--waterL);
  border-color: var(--waterL);
}

.grass{
  background-color: var(--grass);
}

.grassL{
  background-color: var(--grassL);
  border-color: var(--grassL);
}

.electric{
  background-color: var(--electric);
  border-color: var(--electric);
}

.electricL{
  background-color: var(--electricL);
  border-color: var(--electricL);
}

.psychic{
  background-color: var(--psychic);
}

.psychicL{
  background-color: var(--psychicL);
  border-color: var(--psychicL);
}

.ice{
  background-color: var(--ice);
}

.iceL{
  background-color: var(--iceL);
  border-color: var(--iceL);
}

.dragon{
  background-color: var(--dragon);
}

.dragonL{
  background-color: var(--dragoL);
  border-color: var(--dragoL);
}

.dark{
  background-color: var(--dark);
}

.darkL{
  background-color: var(--darkL);
  border-color: var(--darkL);
}